@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
}

/*fonts*/
h1,
h2,
h3 {
    font-family: Playfair Display, sans-serif;
}

p {
    font-family: Lato, sans-serif;
}

hr {
    border: 1px solid black;
}

/*hamburger-menu*/
.hamburger-menu {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    text-align: center;
    z-index: 5;
    width: 100%;
}

.hamburger-menu #nav-bar {
    display: none;
}

.hamburger-menu a {
    color: #edecec;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.hamburger-menu a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

.hamburger-menu a:hover {
    background-color: #636c87;
    color: #edecec;
}

/*sections*/
.home {
    text-align: left;
}

.portfolio {
    text-align: center;
    padding-top: 25px;
}

.video {
    padding: 20px 0;
}

.about-me {
    text-align: center;
    background-color: #272f43;
    color: #edecec;
    padding-top: 25px;
}

.pricing {
    text-align: center;
    padding-top: 25px;
}

.contact {
    text-align: center;
    padding-top: 25px;
}

/*phone screen layout*/
@media screen and (min-width: 320px) and (max-width: 480px) {

    .home {
        padding-top: 54px;
        padding-left: 35px;
    }

    .home>p {
        padding: 5px 10px;
    }

    .video {
        width: 287px;
        height: 159px;
    }

    .about-me>p,
    .pricing>p,
    .contact>p {
        padding: 40px 25px;
    }
}

/*tablet screen layout*/
@media screen and (min-width: 481px) and (max-width: 768px) {

    .home {
        padding-top: 25px;
        padding-left: 35px;
    }

    .home>p {
        padding: 5px 10px;
    }

    .video {
        width: 452px;
        height: 254px;
    }

    .about-me>p,
    .pricing>p,
    .contact>p {
        padding: 40px 25px;
    }
}

/*laptop screen layout*/
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .home {
        padding-top: 25px;
        padding-left: 35px;
    }

    .home>p {
        padding: 5px 10px;
    }

    .video {
        width: 555px;
        height: 312px;
    }

    .about-me>p,
    .pricing>p,
    .contact>p {
        padding: 40px 25px;
    }
}

/*desktop screen layout*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .home {
        padding-top: 25px;
        padding-left: 35px;
    }

    .home>p {
        padding: 5px 10px;
    }

    .video {
        width: 470px;
        height: 264px;
        padding: 20px 14px;
    }

    .about-me>p,
    .pricing>p,
    .contact>p {
        padding: 40px 25px;
    }
}

/*TV screen layout*/
@media screen and (min-width: 1201px) {

    .home {
        padding-top: 400px;
        padding-left: 35px;
        font-size: 160%;
        width: 387px;
    }

    .home>p {
        padding: 5px 10px;
    }

    .portfolio {
        text-align: center;
        padding-top: 25px;
        font-size: 160%;
    }

    .portfolio>h3 {
        padding-top: 18px;
    }

    .video {
        width: 480px;
        height: 270px;
        padding: 25px 30px;
    }

    .about-me {
        text-align: center;
        background-color: #272f43;
        color: #edecec;
        padding-top: 25px;
        font-size: 160%;
    }

    .pricing {
        text-align: center;
        padding-top: 25px;
        font-size: 160%;
    }

    .pricing>p {
        font-size: ;
    }

    .contact {
        text-align: center;
        padding-top: 25px;
    }

    .about-me>p,
    .pricing>p,
    .contact>p {
        padding: 40px 25px;
        font-size: 70%;
    }
}

.home,
.portfolio,
.about-me,
.pricing,
.contact {
    font-size: 160%;
}