@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
}

/*fonts*/
h1,
h2,
h3 {
    font-family: Playfair Display, sans-serif;
}

p,
span,
table {
    font-family: Lato, sans-serif;
}

hr {
    border: 1px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #252A3B;
}

tr:nth-child(odd) {
    background-color: #B0B9D4;
}

/*hamburger-menu*/
.hamburger-menu {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    text-align: center;
    z-index: 5;
    width: 100%;
}

.hamburger-menu #nav-bar {
    display: none;
}

.hamburger-menu a {
    color: #edecec;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.hamburger-menu a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

.hamburger-menu a:hover {
    background-color: #636c87;
    color: #edecec;
}

/*sections*/
.home {
    height: 1000px;
    width: 100%;
    background: url('../images/IMG_03971.jpg') no-repeat center center;
    position: relative;
}

.cover-text {
    position: absolute;
}

.home h1,
.home p {
    padding: 20px;
    background-color: #252a3bd0;
    color: #B0B9D4;
}

.portfolio {
    text-align: center;
    padding-top: 25px;
    background-color: #636C87;
    color: #B0B9D4;
}

.video {
    padding: 20px 0;
}

.about-me {
    text-align: center;
    padding-top: 25px 0;
    background-color: #252A3B;
    color: #877D63;
}

.pricing {
    text-align: center;
    padding: 25px 0;
    background-color: #636C87;
    color: #252A3B;
}

.contact {
    text-align: center;
    padding: 25px 0;
    background-color: #252A3B;
    color: #877D63;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    text-align: center;
    width: 100vw;
}


.footer a {
    text-decoration-line: none;
    color: white;
}

.socials li {
    display: inline;
}

/*responsive layout
phone screen layout*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .video {
        width: 287px;
        height: 159px;
    }

    h1,
    h2 {
        font-size: 208%;
    }

    h3 {
        font-size: 138%;
    }

    p,
    table {
        font-size: 100%;
    }

    .cover-text {
        width: 436px;
        height: 490px;
        bottom: 120px;
        left: 75px;
    }

    #nav-bar {
        font-size: 150%;
    }

    .about-me h2,
    .pricing h2,
    .contact h2,
    table,
    td {
        padding: 20px;
    }

    .about-me p,
    .contact p {
        padding: 20px 150px;
    }
}

/*tablet screen layout*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .video {
        width: 452px;
        height: 254px;
    }

    h1,
    h2 {
        font-size: 226%;
    }

    h3 {
        font-size: 200%;
    }

    p,
    table {
        font-size: 115%;
    }

    .cover-text {
        width: 313px;
        height: 80px;
        bottom: 120px;
        left: 30px;
    }

    #nav-bar {
        font-size: 150%;
    }

    .about-me h2,
    .pricing h2,
    .contact h2,
    table,
    td {
        padding: 20px;
    }

    .about-me p,
    .contact p {
        padding: 20px 45px;
    }
}

/*laptop screen layout*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .video {
        width: 555px;
        height: 312px;
    }

    h1,
    h2 {
        font-size: 328%;
    }

    h3 {
        font-size: 200%;
    }

    p,
    table {
        font-size: 160%;
    }

    .cover-text {
        width: 436px;
        height: 200px;
        bottom: 120px;
        left: 75px;
    }

    #nav-bar {
        font-size: 150%;
    }

    .about-me h2,
    .pricing h2,
    .contact h2,
    table,
    td {
        padding: 20px;
    }

    .about-me p,
    .contact p {
        padding: 20px 150px;
    }

}

/*desktop screen layout*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .video {
        width: 470px;
        height: 264px;
        padding: 20px 14px;
    }

    h1,
    h2 {
        font-size: 328%;
    }

    h3 {
        font-size: 200%;
    }

    p,
    table {
        font-size: 160%;
    }

    .cover-text {
        width: 436px;
        height: 200px;
        bottom: 120px;
        left: 75px;
    }

    #nav-bar {
        font-size: 150%;
    }

    .about-me h2,
    .pricing h2,
    .contact h2,
    table,
    td {
        padding: 20px;
    }

    .about-me p,
    .contact p {
        padding: 20px 150px;
    }
}

/*tv screen layout*/
@media screen and (min-width: 1201px) {
    .video {
        width: 480px;
        height: 270px;
        padding: 25px 30px;
    }

    h1,
    h2 {
        font-size: 328%;
    }

    h3 {
        font-size: 200%;
    }

    p,
    table {
        font-size: 160%;
    }

    .cover-text {
        width: 436px;
        height: 200px;
        bottom: 120px;
        left: 75px;
    }

    #nav-bar {
        font-size: 150%;
    }

    .about-me h2,
    .pricing h2,
    .contact h2,
    table,
    td {
        padding: 20px;
    }

    .about-me p,
    .contact p {
        padding: 20px 150px;
    }
}