@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
}

/*fonts*/
h1,
h2 {
    font-family: Playfair Display, sans-serif;
}

p {
    font-family: Lato, sans-serif;
}

/*hamburger-menu*/
.hamburger-menu {
    background: rgba(0, 0, 0, .9);
    position: fixed;
    text-align: center;
    z-index: 5;
    width: 100%;
}

.hamburger-menu #nav-bar {
    display: none;
}

.hamburger-menu a {
    color: #edecec;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.hamburger-menu a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}

.hamburger-menu a:hover {
    background-color: #636c87;
    color: #edecec;
}

/*sections*/
.home {
    text-align: left;
}

.portfolio {
    text-align: center;
}

.about-me {
    text-align: center;
    background-color: #272f43;
    color: #edecec;
}

.pricing {
    text-align: center;
}

.contact {
    text-align: center;
}